/.vscode
/source/__pycache__/
/BenchFTDD/TestCases/__pycache__/
/BenchQMDD/TestCases/__pycache__/
/source/cpp/build/
/BenchFTDD/cotengra_cache/*
/BenchFTDD/data/FTDD/*.csv
/BenchFTDD/data/GTN/*.csv
/BenchFTDD/data/PyTDD/*.csv
/BenchFTDD/log/FTDD/*.log
/BenchFTDD/log/GTN/*.log
/BenchFTDD/log/PyTDD/*.log
/BenchQMDD/data/*.csv
/BenchQMDD/log/*.log
/TestFTDD/log/*.log
/TestFTDD/cotengra_cache/*
/source/Exec/source
/source/scratch.py
/source/scratch2.py
/source/scratch3.py
/source/scratch4.py
/source/scratch5.py
/source/TestFTDD
/source/output
/source/cpp
/venv
setup.py
/source/Test/.pytest_cache/
/source/Test/source/
